pipeline/Check_If_IMAFS_IMP_ITEMS_is_empty.json
{
	"name": "Check_If_IMAFS_IMP_ITEMS_is_empty",
	"properties": {
		"activities": [
			{
				"name": "Count Nb Items IMAFS_IMP_ITEMS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Declare @CountNbItems int\nexec QS_COUNT_IMAFS_IMP_ITEMS  @CountNbItems output\nselect @CountNbItems as NbItems",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "StoredProc_PROD_CANROY",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Count Nb Items IMAFS_IMP_ITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Count Nb Items IMAFS_IMP_ITEMS').output.firstRow.NbItems,0)",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Tests"
		},
		"annotations": []
	}
}