pipeline/Check_If_File_Exist_in_Blob.json
{
	"name": "Check_If_File_Exist_in_Blob",
	"properties": {
		"activities": [
			{
				"name": "If file export exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check if file exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check if file exist').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data from SQL export to SFTP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ID",
												"type": "Int64",
												"physicalType": "bigint"
											},
											"sink": {
												"name": "ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ORGANIZATION_ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ORGANIZATION_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "warehouse_descrp",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "warehouse_descrp",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "INVENTORY_ITEM_ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "INVENTORY_ITEM_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ITEM_NUMBER",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ITEM_NUMBER",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CLASS",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CLASS",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CLASS_DESCRIPTION",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CLASS_DESCRIPTION",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CRITICALITY",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "CRITICALITY",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CRITICALITY_DESCRIPTION",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CRITICALITY_DESCRIPTION",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SAFETY_STOCK",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "SAFETY_STOCK",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CALCULATED_SS",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "CALCULATED_SS",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MANUAL_SS",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MANUAL_SS",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MIN_MINMAX",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MIN_MINMAX",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CALCULATED_MIN",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "CALCULATED_MIN",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MANUAL_MIN",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MANUAL_MIN",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MAX_MINMAX",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MAX_MINMAX",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CALCULATED_MAX",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "CALCULATED_MAX",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MANUAL_MAX",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MANUAL_MAX",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LOT_SIZE",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "LOT_SIZE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NBR_PER_REORD",
												"type": "Single",
												"physicalType": "real"
											},
											"sink": {
												"name": "NBR_PER_REORD",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CALCULATED_LEAD_TIME",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "CALCULATED_LEAD_TIME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MANUAL_LEAD_TIME",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MANUAL_LEAD_TIME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "FINAL_CALCULATED_LEAD_TIME",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "FINAL_CALCULATED_LEAD_TIME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "TOTAL_DELAY_TIME",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "TOTAL_DELAY_TIME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "INTERNAL_DELAY",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "INTERNAL_DELAY",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SEASONAL_PRODUCT",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "SEASONAL_PRODUCT",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MONTHLY_FORECAST",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "MONTHLY_FORECAST",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NB_MONTHS_WITH_USAGE",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "NB_MONTHS_WITH_USAGE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "FORECAST_NEXT_12_MONTHS",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"name": "FORECAST_NEXT_12_MONTHS",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MAD",
												"type": "Single",
												"physicalType": "real"
											},
											"sink": {
												"name": "MAD",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "MAPE",
												"type": "Single",
												"physicalType": "real"
											},
											"sink": {
												"name": "MAPE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_DATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "LAST_UPDATE_DATE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "BATCH_NO",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "BATCH_NO",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Intermittent",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "Intermittent",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "demand_multiple",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "demand_multiple",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlImafsExpItemsCerrejon",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TXT_IMAFS_ITEMS_EXPORT",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send email",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
								"body": {
									"value": "{\n    \"EmailTo\": \"jmichaud@rpmglobal.com;vpotvin@rpmglobal.com\",\n    \"Subject\": \"@{pipeline().Pipeline} has completed\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Already an export file in the Cerrejon export folder\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Check if file exist",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "TXT_IMAFS_ITEMS_EXPORT",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "Tests"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-13T21:12:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}