pipeline/INTERFACE_AMMAN_PHASE_1.json
{
	"name": "INTERFACE_AMMAN_PHASE_1",
	"properties": {
		"activities": [
			{
				"name": "Copy AUFK",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_AUFK",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['AUFNR']"
								},
								"sink": {
									"name": "AUFNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['KTEXT']"
								},
								"sink": {
									"name": "KTEXT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['AUART']"
								},
								"sink": {
									"name": "AUART",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ERDAT']"
								},
								"sink": {
									"name": "ERDAT",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_AUFK",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_AUFK_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy AUSP",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AUFK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_AUSP",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['OBJEK']"
								},
								"sink": {
									"name": "OBJEK",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ATINN']"
								},
								"sink": {
									"name": "ATINN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ATWRT']"
								},
								"sink": {
									"name": "ATWRT",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_AUSP",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_AUSP_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EINA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy EBAN DELTA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_EINA",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_EINA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_EINA_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EKKO",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy EINA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_EKKO",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EBELN']"
								},
								"sink": {
									"name": "EBELN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BSART']"
								},
								"sink": {
									"name": "BSART",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LOEKZ']"
								},
								"sink": {
									"name": "LOEKZ",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LIFNR']"
								},
								"sink": {
									"name": "LIFNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['AEDAT']"
								},
								"sink": {
									"name": "AEDAT",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_EKKO",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_EKKO_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EQUI",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy EKKO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_EQUI",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_EQUI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_EQUI_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy LFA1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy EQUI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_LFA1",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_LFA1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_LFA1_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy MARA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy LFA1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_MARA_MAKT",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['MATNR']"
								},
								"sink": {
									"name": "MATNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['SPRAS']"
								},
								"sink": {
									"name": "SPRAS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MAKTX']"
								},
								"sink": {
									"name": "MAKTX",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MTART']"
								},
								"sink": {
									"name": "MTART",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MATKL']"
								},
								"sink": {
									"name": "MATKL",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MEINS']"
								},
								"sink": {
									"name": "MEINS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['WRKST']"
								},
								"sink": {
									"name": "WRKST",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['NORMT']"
								},
								"sink": {
									"name": "NORMT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MFRPN']"
								},
								"sink": {
									"name": "MFRPN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MFRNR']"
								},
								"sink": {
									"name": "MFRNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BISMT']"
								},
								"sink": {
									"name": "BISMT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BMATN']"
								},
								"sink": {
									"name": "BMATN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ERSDA']"
								},
								"sink": {
									"name": "ERSDA",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MSTAE']"
								},
								"sink": {
									"name": "MSTAE"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_MARA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_MARA_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy MARC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy MARA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_MARC",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_MARC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_MARC_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy T023T",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy MARC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_T023T",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_T023T",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_T023T_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy T025T",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy T023T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_T025T",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_T025T",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_T025T_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy TCURR",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy T025T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_TCURR",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_TCURR",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_TCURR_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy MARD",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy TCURR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_MARD",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['MATNR']"
								},
								"sink": {
									"name": "MATNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['WERKS']"
								},
								"sink": {
									"name": "WERKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LGORT']"
								},
								"sink": {
									"name": "LGORT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LVORM']"
								},
								"sink": {
									"name": "LVORM",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['DISKZ']"
								},
								"sink": {
									"name": "DISKZ",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LGPBE']"
								},
								"sink": {
									"name": "LGPBE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ERSDA']"
								},
								"sink": {
									"name": "ERSDA",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_MARD",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_MARD_AMMAN_PROD_DELTA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EINE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy RESB DELTA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_EINE",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_EINE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_EINE_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy AFIH",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy EINE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_AFIH",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['AUFNR']"
								},
								"sink": {
									"name": "AUFNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['EQUNR']"
								},
								"sink": {
									"name": "EQUNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ADDAT']"
								},
								"sink": {
									"name": "ADDAT",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_AFIH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_AFIH_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send Copy AUFK",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy AUFK",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy MBEW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AFIH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_MBEW",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_MBEW",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_MBEW_AMMAN_PROD",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send email Copy EBAN DELTA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy EBAN DELTA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy AUSP",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy AUSP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy EQUI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy EQUI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy EKKO",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy EKKO",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy EINA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy EINA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy T023T",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy T023T",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy MARC",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy MARC",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy MARA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy MARA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy LFA1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy LFA1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy RESB DELTA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy RESB DELTA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy MARD",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy MARD",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy TCURR",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy TCURR",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy T025T",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy T025T",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy MBEW",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy MBEW",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy AFIH",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy AFIH",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy EINE",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy EINE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy MKPF to MSEG DELTA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy MKPF to MSEG DELTA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Copy EKPO DELTA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy EKPO DELTA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface Amman\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy MKPF to MSEG DELTA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy EKPO DELTA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_MSEG_TEMP",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['MBLNR']"
								},
								"sink": {
									"name": "MBLNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MJAHR']"
								},
								"sink": {
									"name": "MJAHR",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['BUDAT']"
								},
								"sink": {
									"name": "MKPF_BUDAT"
								}
							},
							{
								"source": {
									"path": "$['ZEILE']"
								},
								"sink": {
									"name": "ZEILE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['LINE_ID']"
								},
								"sink": {
									"name": "LINE_ID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['BWART']"
								},
								"sink": {
									"name": "BWART",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MATNR']"
								},
								"sink": {
									"name": "MATNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['WERKS']"
								},
								"sink": {
									"name": "WERKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LGORT']"
								},
								"sink": {
									"name": "LGORT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LIFNR']"
								},
								"sink": {
									"name": "LIFNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MENGE']"
								},
								"sink": {
									"name": "MENGE",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['ERFMG']"
								},
								"sink": {
									"name": "ERFMG",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['SHKZG']"
								},
								"sink": {
									"name": "SHKZG",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['EBELN']"
								},
								"sink": {
									"name": "EBELN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['EBELP']"
								},
								"sink": {
									"name": "EBELP",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['SGTXT']"
								},
								"sink": {
									"name": "SGTXT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['AUFNR']"
								},
								"sink": {
									"name": "AUFNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CPUDT_MKPF']"
								},
								"sink": {
									"name": "CPUDT_MKPF",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CPUTM_MKPF']"
								},
								"sink": {
									"name": "CPUTM_MKPF",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CHARG']"
								},
								"sink": {
									"name": "CHARG",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_MKPF",
						"type": "DatasetReference",
						"parameters": {
							"currentDate": "@formatDateTime(addDays(utcnow(), -7), 'yyyyMMdd')",
							"currentDateTo": "@formatDateTime(addDays(utcnow(), 1), 'yyyyMMdd')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_MSEG_AMMAN_PROD_DELTA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EBAN DELTA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AUSP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_EBAN_TEMP",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['BANFN']"
								},
								"sink": {
									"name": "BANFN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BNFPO']"
								},
								"sink": {
									"name": "BNFPO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BADAT']"
								},
								"sink": {
									"name": "BADAT",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['MATNR']"
								},
								"sink": {
									"name": "MATNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['WERKS']"
								},
								"sink": {
									"name": "WERKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LGORT']"
								},
								"sink": {
									"name": "LGORT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BSART']"
								},
								"sink": {
									"name": "BSART",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BSTYP']"
								},
								"sink": {
									"name": "BSTYP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['PSTYP']"
								},
								"sink": {
									"name": "PSTYP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LOEKZ']"
								},
								"sink": {
									"name": "LOEKZ",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['STATU']"
								},
								"sink": {
									"name": "STATU",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FRGKZ']"
								},
								"sink": {
									"name": "FRGKZ",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FRGZU']"
								},
								"sink": {
									"name": "FRGZU",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FRGDT']"
								},
								"sink": {
									"name": "FRGDT",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['MENGE']"
								},
								"sink": {
									"name": "MENGE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['MEINS']"
								},
								"sink": {
									"name": "MEINS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ZZ_PRREQ']"
								},
								"sink": {
									"name": "ZZ_PRREQ",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_EBAN_DELTA",
						"type": "DatasetReference",
						"parameters": {
							"currentDate": "@formatDateTime(addDays(utcnow(), -7), 'yyyyMMdd')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_EBAN_AMMAN_PROD_DELTA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy RESB DELTA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy MARD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_RESB_TEMP",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_RESB_DELTA",
						"type": "DatasetReference",
						"parameters": {
							"currentDate": "@formatDateTime(addDays(utcnow(), -7), 'yyyyMMdd')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_RESB_AMMAN_PROD_DELTA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EKPO DELTA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy MBEW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE _SAP_EKET_EKPO_TEMP",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EBELN']"
								},
								"sink": {
									"name": "EBELN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['EBELP']"
								},
								"sink": {
									"name": "EBELP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LOEKZ']"
								},
								"sink": {
									"name": "LOEKZ",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['AEDAT']"
								},
								"sink": {
									"name": "AEDAT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MATNR']"
								},
								"sink": {
									"name": "MATNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['WERKS']"
								},
								"sink": {
									"name": "WERKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LGORT']"
								},
								"sink": {
									"name": "LGORT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MENGE_PO']"
								},
								"sink": {
									"name": "MENGE_PO",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['MEINS']"
								},
								"sink": {
									"name": "MEINS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['UMREZ']"
								},
								"sink": {
									"name": "UMREZ",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['UMREN']"
								},
								"sink": {
									"name": "UMREN",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['BSTYP']"
								},
								"sink": {
									"name": "BSTYP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['INCO1']"
								},
								"sink": {
									"name": "INCO1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ZZ_BEDNR']"
								},
								"sink": {
									"name": "ZZ_BEDNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ELIKZ']"
								},
								"sink": {
									"name": "ELIKZ",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['EINDT']"
								},
								"sink": {
									"name": "EINDT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MENGE']"
								},
								"sink": {
									"name": "MENGE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['WEMNG']"
								},
								"sink": {
									"name": "WEMNG",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['BANFN']"
								},
								"sink": {
									"name": "BANFN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BNFPO']"
								},
								"sink": {
									"name": "BNFPO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BEDAT']"
								},
								"sink": {
									"name": "BEDAT",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "API_Amman_PROD_EKPO_DELTA",
						"type": "DatasetReference",
						"parameters": {
							"currentDate": "@formatDateTime(addDays(utcnow(), -7), 'yyyyMMdd')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_SAP_EKET_EKPO_AMMAN_PROD_DELTA",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"EmailsList": {
				"type": "String",
				"defaultValue": "jmichaud@rpmglobal.com;vpotvin@rpmglobal.com"
			}
		},
		"folder": {
			"name": "Interfaces"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-12T15:59:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}