pipeline/INTERFACE_RTC.json
{
	"name": "INTERFACE_RTC",
	"properties": {
		"activities": [
			{
				"name": "Interface_ITEMS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Interface_ITEMS]"
				},
				"linkedServiceName": {
					"referenceName": "AzureProdRTC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Interface_EXP_ITEMS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Interface_ITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Interface_EXP_ITEMS]"
				},
				"linkedServiceName": {
					"referenceName": "AzureProdRTC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "QA_QS_ANALYSIS_DEMAND_0_12_MONTHS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Interface_EXP_ITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[QA_QS_ANALYSIS_DEMAND_0_12_MONTHS]"
				},
				"linkedServiceName": {
					"referenceName": "AzureProdRTC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "QA_RP_CLASS_MATRIX_TABLE_PIVOT_VIEW",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "QA_QS_ANALYSIS_DEMAND_0_12_MONTHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[QA_RP_CLASS_MATRIX_TABLE_PIVOT_VIEW]"
				},
				"linkedServiceName": {
					"referenceName": "AzureProdRTC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send email QA_RP_CLASS_MATRIX_TABLE_PIVOT_VIEW",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "QA_RP_CLASS_MATRIX_TABLE_PIVOT_VIEW",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface RTC has completed with error  QA_RP_CLASS_MATRIX_TABLE_PIVOT_VIEW\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface RTC  QA_RP_CLASS_MATRIX_TABLE_PIVOT_VIEW\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Interface_ITEMS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Interface_ITEMS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface RTC has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in Interface_ITEMS\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email Interface_EXP_ITEMS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Interface_EXP_ITEMS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface RTC has completed with error\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in Interface_EXP_ITEMS\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send email QA_QS_ANALYSIS_DEMAND_0_12_MONTHS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "QA_QS_ANALYSIS_DEMAND_0_12_MONTHS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface RTC has completed with error  QA_QS_ANALYSIS_DEMAND_0_12_MONTHS\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in the interface RTC  QA_QS_ANALYSIS_DEMAND_0_12_MONTHS\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"EmailsList": {
				"type": "String",
				"defaultValue": "jmichaud@rpmglobal.com;vpotvin@rpmglobal.com"
			}
		},
		"folder": {
			"name": "Interfaces"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-09T14:44:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}