pipeline/List_and_Email_Files_in_Folders.json
{
	"name": "List_and_Email_Files_in_Folders",
	"properties": {
		"activities": [
			{
				"name": "Get_Cerrejon_AMT",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AMT_Import_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Send email_Cerrejon",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_Cerrejon_AMT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"File @{activity('Get_Cerrejon_AMT').output.itemName} in Cerrejon AMT Blob folder  Modified : @{formatDateTime(activity('Get_Cerrejon_AMT').output.lastModified,'D')}\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"Message\": \"@{activity('Get_Cerrejon_AMT').output.itemName}    Modified : @{activity('Get_Cerrejon_AMT').output.lastModified}\" \n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get_Ellipse_File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ellipse900",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Send email_Cerrejon_Ellipse",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_Ellipse_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
					"body": {
						"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"File @{activity('Get_Ellipse_File').output.itemName} in Cerrejon Blob folder  Modified : @{formatDateTime(activity('Get_Ellipse_File').output.lastModified,'D')}\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"Message\": \"@{activity('Get_Ellipse_File').output.itemName}    Modified : @{activity('Get_Ellipse_File').output.lastModified}\" \n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"EmailsList": {
				"type": "String",
				"defaultValue": "jmichaud@rpmglobal.com;vpotvin@rpmglobal.com"
			}
		},
		"folder": {
			"name": "Interfaces"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-12T15:59:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}