IMAFS-DF-DEV/linkedTemplates/ArmTemplate_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "IMAFS-DF-DEV"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_PROD_SAYONA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdSAYONA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_PROD_STO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdSTO",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_PROD_VEGPRO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdVegPro",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_PROD_VEGPRO2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdVegPro2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_ROBEX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdRobex",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures/Generic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_RTC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdRTC",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures/Generic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_SAYONA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdSAYONA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures/Generic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_STO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdSTO",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures/Generic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_VEGPRO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdVegPro",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures/Generic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProc_VEGPRO2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureProdVegPro2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Stored_Procedures/Generic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "MONTH_NAME",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ACTIVE_MONTH_GT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Synapse_SQLPool_DHP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SynapseSQLPool1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "demand_hist_period",
					"table": "demand_hist_period"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TXT_IMAFS_ITEMS_EXPORT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageExport",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "IMAFS_ITEMS_EXPORT.TXT",
						"folderPath": "export",
						"container": "root"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_API_Items_Detail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_imafs_storage_general",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "api_output_items_detail.json",
						"container": "apis"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"info": {
							"type": "object",
							"properties": {
								"_postman_id": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"schema": {
									"type": "string"
								},
								"_exporter_id": {
									"type": "string"
								},
								"_collection_link": {
									"type": "string"
								}
							}
						},
						"item": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"request": {
										"type": "object",
										"properties": {
											"method": {
												"type": "string"
											},
											"header": {
												"type": "array"
											},
											"url": {
												"type": "object",
												"properties": {
													"raw": {
														"type": "string"
													},
													"protocol": {
														"type": "string"
													},
													"host": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"path": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											}
										}
									},
									"response": {
										"type": "array"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TriggerPauseSQLPool')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Pause SQLPool1 Synapse",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-09-05T17:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Alert 10perc Storage Unused')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Perc_Dev_Preprod",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "PercFree",
								"value": "@activity('Perc_Dev_Preprod').output.firstRow.name"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Declare @PercUnused float\nexecute  QS_DB_PERC_UNUSED @PercUnused output\nselect @PercUnused",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_PREPROD_IMAFS_IMP_ITEMS",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"firstRow": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DBA Jobs"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-05T21:05:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Check_If_File_Exist_in_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If file export exist",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check if file exist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Check if file exist').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy data from SQL export to SFTP",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "ID",
														"type": "Int64",
														"physicalType": "bigint"
													},
													"sink": {
														"name": "ID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ORGANIZATION_ID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ORGANIZATION_ID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "warehouse_descrp",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "warehouse_descrp",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "INVENTORY_ITEM_ID",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "INVENTORY_ITEM_ID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ITEM_NUMBER",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ITEM_NUMBER",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CLASS",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "CLASS",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CLASS_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "CLASS_DESCRIPTION",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CRITICALITY",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "CRITICALITY",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CRITICALITY_DESCRIPTION",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "CRITICALITY_DESCRIPTION",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SAFETY_STOCK",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "SAFETY_STOCK",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CALCULATED_SS",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "CALCULATED_SS",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MANUAL_SS",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MANUAL_SS",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MIN_MINMAX",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MIN_MINMAX",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CALCULATED_MIN",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "CALCULATED_MIN",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MANUAL_MIN",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MANUAL_MIN",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MAX_MINMAX",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MAX_MINMAX",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CALCULATED_MAX",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "CALCULATED_MAX",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MANUAL_MAX",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MANUAL_MAX",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "LOT_SIZE",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "LOT_SIZE",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "NBR_PER_REORD",
														"type": "Single",
														"physicalType": "real"
													},
													"sink": {
														"name": "NBR_PER_REORD",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CALCULATED_LEAD_TIME",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "CALCULATED_LEAD_TIME",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MANUAL_LEAD_TIME",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MANUAL_LEAD_TIME",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "FINAL_CALCULATED_LEAD_TIME",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "FINAL_CALCULATED_LEAD_TIME",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TOTAL_DELAY_TIME",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "TOTAL_DELAY_TIME",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "INTERNAL_DELAY",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "INTERNAL_DELAY",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SEASONAL_PRODUCT",
														"type": "Boolean",
														"physicalType": "bit"
													},
													"sink": {
														"name": "SEASONAL_PRODUCT",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MONTHLY_FORECAST",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "MONTHLY_FORECAST",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "NB_MONTHS_WITH_USAGE",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "NB_MONTHS_WITH_USAGE",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "FORECAST_NEXT_12_MONTHS",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 0,
														"precision": 18
													},
													"sink": {
														"name": "FORECAST_NEXT_12_MONTHS",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MAD",
														"type": "Single",
														"physicalType": "real"
													},
													"sink": {
														"name": "MAD",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MAPE",
														"type": "Single",
														"physicalType": "real"
													},
													"sink": {
														"name": "MAPE",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "LAST_UPDATE_DATE",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "LAST_UPDATE_DATE",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BATCH_NO",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BATCH_NO",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Intermittent",
														"type": "Boolean",
														"physicalType": "bit"
													},
													"sink": {
														"name": "Intermittent",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "demand_multiple",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "demand_multiple",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlImafsExpItemsCerrejon",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "TXT_IMAFS_ITEMS_EXPORT",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Send email",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
										"body": {
											"value": "{\n    \"EmailTo\": \"jmichaud@rpmglobal.com;vpotvin@rpmglobal.com\",\n    \"Subject\": \"@{pipeline().Pipeline} has completed\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Already an export file in the Cerrejon export folder\"\n}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Check if file exist",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "TXT_IMAFS_ITEMS_EXPORT",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tests"
				},
				"annotations": [],
				"lastPublishTime": "2024-02-13T21:12:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TXT_IMAFS_ITEMS_EXPORT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Arima Qty from Azure Dev to IMAFS AI Prod MTL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Arima Qty",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select unique_id,ds,AutoARIMA from FORECAST_RESULT_ARIMA_QTY order by unique_id, ds",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table _NEW_CANROY_FORECAST_ARIMA_QTY",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Arima_Forecast_Qty_Dev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Arima_Qty_Prod_MTL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Machine Learning"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-14T14:25:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy DemandHistPeriod to MTL Prod Srv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CanRoy demand",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Azure_Prod_Canroy_DHP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Prod_Canroy_To_IMAFS_AI_Mtl_Srv_Demand_Hist_Period",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Machine Learning"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-13T17:37:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromSQLToSynapseSQLpool')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromSQLToSQLDW",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "demand_hist_period.demand_hist_period"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT        DEMAND_HIST_PERIOD.item_id, DEMAND_HIST_PERIOD.date, DEMAND_HIST_PERIOD.qty, DEMAND_HIST_PERIOD.hits, DEMAND_HIST_PERIOD.real_data_flag, ITEMS.Intermittent\nFROM            DEMAND_HIST_PERIOD INNER JOIN\n                         ITEMS ON DEMAND_HIST_PERIOD.item_id = ITEMS.item_id\nWHERE        (DEMAND_HIST_PERIOD.date < dbo.ACTIVE_MONTH_VAR()) AND (DEMAND_HIST_PERIOD.item_id <= 128900862) AND (ITEMS.Intermittent = 0)\nORDER BY DEMAND_HIST_PERIOD.item_id, DEMAND_HIST_PERIOD.date",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [demand_hist_period].[demand_hist_period]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedServiceBlobStorageGeneral",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "item_id",
											"type": "Int64"
										},
										"sink": {
											"name": "item_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "qty",
											"type": "Double"
										},
										"sink": {
											"name": "qty",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "hits",
											"type": "Int16"
										},
										"sink": {
											"name": "hits",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "real_data_flag",
											"type": "Boolean"
										},
										"sink": {
											"name": "real_data_flag",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_DHP_CanRoy_Non_Intermittent",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Synapse_SQLPool_DHP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Synapse"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-02T17:10:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Synapse_SQLPool_DHP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromSQLToSynapseSparkPool')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromSQLToBlobCSV",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT        DEMAND_HIST_PERIOD.item_id, DEMAND_HIST_PERIOD.date, DEMAND_HIST_PERIOD.qty, DEMAND_HIST_PERIOD.hits, DEMAND_HIST_PERIOD.real_data_flag, ITEMS.Intermittent\nFROM            DEMAND_HIST_PERIOD INNER JOIN\n                         ITEMS ON DEMAND_HIST_PERIOD.item_id = ITEMS.item_id\nWHERE        (DEMAND_HIST_PERIOD.date < dbo.ACTIVE_MONTH_VAR()) AND (DEMAND_HIST_PERIOD.item_id <= 128900862) AND (ITEMS.Intermittent = 0)\nORDER BY DEMAND_HIST_PERIOD.item_id, DEMAND_HIST_PERIOD.date",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "item_id",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "item_id",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "date",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "qty",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "qty",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "hits",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "hits",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "real_data_flag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "real_data_flag",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "Intermittent",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Intermittent",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_DHP_CanRoy_Non_Intermittent",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSVBlobTransfer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Synapse"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-07T18:35:08Z"
			},
			"dependsOn": []
		}
	]
}