IMAFS-DF-DEV/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "IMAFS-DF-DEV"
		},
		"API_Amman_PROD_AFIH_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_AFIH'"
		},
		"API_Amman_PROD_AUFK_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_AUFK'"
		},
		"API_Amman_PROD_AUSP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_AUSP'"
		},
		"API_Amman_PROD_EBAN 2021_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EBAN 2021'"
		},
		"API_Amman_PROD_EBAN 2022 1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EBAN 2022 1'"
		},
		"API_Amman_PROD_EBAN 2022 2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EBAN 2022 2'"
		},
		"API_Amman_PROD_EBAN 2023_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EBAN 2023'"
		},
		"API_Amman_PROD_EBAN_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EBAN'"
		},
		"API_Amman_PROD_EBAN_DELTA_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EBAN_DELTA'"
		},
		"API_Amman_PROD_EINA_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EINA'"
		},
		"API_Amman_PROD_EINE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EINE'"
		},
		"API_Amman_PROD_EKET_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'API_Amman_PROD_EKET'"
		},
		"API_Amman_PROD_AFIH_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=afih"
		},
		"API_Amman_PROD_AFIH_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_AUFK_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=aufk"
		},
		"API_Amman_PROD_AUFK_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_AUSP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=ausp"
		},
		"API_Amman_PROD_AUSP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EBAN 2021_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eban&datefrom=20210101&dateto=20211231"
		},
		"API_Amman_PROD_EBAN 2021_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EBAN 2022 1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eban&datefrom=20220101&dateto=20220701"
		},
		"API_Amman_PROD_EBAN 2022 1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EBAN 2022 2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eban&datefrom=20220702&dateto=20221231"
		},
		"API_Amman_PROD_EBAN 2022 2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EBAN 2023_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eban&datefrom=20230101&dateto=20231231"
		},
		"API_Amman_PROD_EBAN 2023_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EBAN_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eban&datefrom=20220101&dateto=20221231"
		},
		"API_Amman_PROD_EBAN_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EBAN_DELTA_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseUrlParameter}"
		},
		"API_Amman_PROD_EBAN_DELTA_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EINA_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eina"
		},
		"API_Amman_PROD_EINA_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EINE_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eine"
		},
		"API_Amman_PROD_EINE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		},
		"API_Amman_PROD_EKET_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eket&ebeln="
		},
		"API_Amman_PROD_EKET_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCP-USER"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/INTERFACE_AMMAN_EXP_ITEMS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call Logic Apps to send EXP_ITEMS",
						"description": "Logic Apps : \nIMAFS-API-PROD-AMMAN-IMAFS-EXP-ITEMS-V2",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-26.canadacentral.logic.azure.com:443/workflows/110fcadbac2d4e34bdcd71bbd2912b8e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=5MwQ1kqkNPqOaNS3SmU90XcgJNIod8zxTsb5Hvw5uL4",
							"body": "{1}"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Interfaces"
				},
				"annotations": [],
				"lastPublishTime": "2024-03-13T14:50:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INTERFACE_AMMAN_EXP_ITEMS_Generic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call Logic Apps to send EXP_ITEMS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-26.canadacentral.logic.azure.com:443/workflows/110fcadbac2d4e34bdcd71bbd2912b8e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=5MwQ1kqkNPqOaNS3SmU90XcgJNIod8zxTsb5Hvw5uL4",
							"body": "{1}"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Interfaces/Generic"
				},
				"annotations": [],
				"lastPublishTime": "2024-03-13T15:25:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pause SQLPool1 Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pause SQLPool1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/35fcb957-d7ba-4604-870c-99751eb8f0cd/resourceGroups/IMAFSaaSDevSyn/providers/Microsoft.Synapse/workspaces/synw-imafs-dev/sqlPools/SQLPool1/pause?api-version=2021-06-01",
							"body": "Resume Pool",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Synapse"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-01T21:11:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Resume SQLPool1 Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Resume SQLPool1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/35fcb957-d7ba-4604-870c-99751eb8f0cd/resourceGroups/IMAFSaaSDevSyn/providers/Microsoft.Synapse/workspaces/synw-imafs-dev/sqlPools/SQLPool1/resume?api-version=2021-06-01",
							"body": "Resume Pool",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Synapse"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-01T19:54:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendFailureEmail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Logic App URL from Key Vault",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(pipeline().globalParameters.LogicAppKeyVaultSecretUrl,\n'?api-version=7.0'\n)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Send Email On Pipeline Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Logic App URL from Key Vault",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@activity('Get Logic App URL from Key Vault').output.value",
								"type": "Expression"
							},
							"body": {
								"value": "{\n    \"EmailTo\": \"@{pipeline().parameters.EmailTo}\",\n    \"Subject\": \"@{pipeline().parameters.ParentPipelineName} has failed for @{pipeline().parameters.CustomerName}\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().parameters.ParentPipelineName}\",\n    \"ActivityName\": \"Send Email On Pipeline Failure\",\n    \"Message\": \"@{concat('<br>',pipeline().parameters.ErrorMsg)}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EmailTo": {
						"type": "string"
					},
					"CustomerName": {
						"type": "string"
					},
					"ErrorMsg": {
						"type": "string"
					},
					"ParentPipelineName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Release"
				},
				"annotations": [],
				"lastPublishTime": "2024-03-12T15:59:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendSuccessEmail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Email On Pipeline Success",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Logic App URL from Key Vault",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@activity('Get Logic App URL from Key Vault').output.value",
								"type": "Expression"
							},
							"body": {
								"value": "{\n    \"EmailTo\": \"@{pipeline().parameters.EmailTo}\",\n    \"Subject\": \"@{pipeline().parameters.ParentPipelineName} has completed for @{pipeline().parameters.CustomerName}\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().parameters.ParentPipelineName}\",\n    \"ActivityName\": \"Send Email On Pipeline Success\",\n    \"Message\": \"The pipeline (@{pipeline().RunId}) was executed successfully\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Logic App URL from Key Vault",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(pipeline().globalParameters.LogicAppKeyVaultSecretUrl,\n'?api-version=7.0'\n)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EmailTo": {
						"type": "string"
					},
					"CustomerName": {
						"type": "string"
					},
					"ParentPipelineName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Release"
				},
				"annotations": [],
				"lastPublishTime": "2024-03-12T15:59:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_Keyvault_access')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Logic App URL from Key Vault",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(pipeline().globalParameters.LogicAppKeyVaultSecretUrl,\n'?api-version=7.0'\n)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Send email_copy1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
							"body": {
								"value": "{\n    \"EmailTo\": \"jmichaud@rpmglobal.com;vpotvin@rpmglobal.com\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Coeur has completed with error - Interface_ITEMS\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in Interface_ITEMS\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tests"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_Other')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send email _AMMAN_DAILY_IMPORT_SAP_TABLES",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod2-29.australiaeast.logic.azure.com:443/workflows/be6d6087b8fe4cc6a760eaa8afce4c69/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XmDynxc0o1j0l2w3e4tb95kp7xV1TEHECC4IcCscgmg",
							"body": {
								"value": "{\n    \"EmailTo\": \"@{variables('EmailsList')}\",\n    \"Subject\": \"@{pipeline().Pipeline} Interface Amman has completed with error - _AMMAN_DAILY_IMPORT_SAP_TABLES\",\n    \"FactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ActivityName\": \"Send Email On Error\",\n    \"Message\": \"Error in _AMMAN_DAILY_IMPORT_SAP_TABLES\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"EmailsList": {
						"type": "String",
						"defaultValue": "jmichaud@rpmglobal.com;vpotvin@rpmglobal.com"
					}
				},
				"folder": {
					"name": "Tests"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_AFIH')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_AFIH_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_AFIH_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_AFIH_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_AUFK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_AUFK_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_AUFK_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_AUFK_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_AUSP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_AUSP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_AUSP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_AUSP_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EBAN 2021')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EBAN 2021_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EBAN 2021_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EBAN 2021_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EBAN 2022 1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EBAN 2022 1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EBAN 2022 1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EBAN 2022 1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EBAN 2022 2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EBAN 2022 2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EBAN 2022 2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EBAN 2022 2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EBAN 2023')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EBAN 2023_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EBAN 2023_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EBAN 2023_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EBAN')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EBAN_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EBAN_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EBAN_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EBAN_DELTA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseUrlParameter": {
						"type": "string",
						"defaultValue": "https://metamorphosis.amman.co.id/zimafs/imafs?sap-client=300&table=eban&erdatge=20231004"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EBAN_DELTA_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EBAN_DELTA_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EBAN_DELTA_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EINA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EINA_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EINA_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EINA_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EINE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EINE_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EINE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EINE_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Amman_PROD_EKET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Amman_PROD_EKET_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('API_Amman_PROD_EKET_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('API_Amman_PROD_EKET_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}